// palette colors 

$main-color: #7ABC64;
$white: #FFFFFF;
$gray: #F6F6F6;
$black: #494C4E;
$dark-gray: #929AA3;

// text-istructions

$sm-size: 11px;
$sm-size-b: 13px;
$main-size: 15px;
$main-size-b: 25px;

$fw-600: 600;