// palette colors 

$main-color: #7ABC64;
$white: #FFFFFF;
$gray: #F6F6F6;
$black: #494C4E;
$foot-black: #1C1D1E;
$dark-gray: #929AA3;
$light-blue: #7093A8;

// text-istructions

$sm-size: 12px;
$sm-size-b: 14px;
$main-size: 16flipx;
$main-size-a: 18px;
$main-size-b: 25px;


$fw-500: 500;
$fw-600: 600;
$fw-700: 600;